<!DOCTYPE html>
<html lang="en">
{% load url from future %}
<head>
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/ripple.js"></script>
    {% block js %}{% endblock %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
    <title>{% block title %}连伊{% endblock %}</title>
</head>

<body> 
    <div class="container">
        <div id="navigator">
            <ul class="nav nav-pills pull-right">
                <li id="link-dashboard"><a href="{% url 'dashboard' %}">概览</a></li>
                <li id="link-tasks"><a href="{% url 'list_hot' %}">热门涟漪</a></li>
                <li id="link-new-task"><a href="{% url 'new_task' %}">新涟漪</a></li>
                <li id="link-bind"><a href="{% url 'bind' %}">我的信号</a></li>
                <li id="link-logout"><a href="{% url 'django.contrib.auth.views.logout' %}">登出</a></li>
            </ul>
            <h2 class="text-info">连伊</h3>

            <script>
            {% block navbar_js %}
            {% endblock %}
            </script>
        </div>
        
        <hr/>

        {% if flash %}
            {% for key, value in flash.items %}
                <div class="alert {{ key }}">
                    <p>{{ value }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <div id="page-header" class="row-fluid clearfix">
            <div id="page-title" class="span4">
                {% block page_title %}{% endblock %}
            </div>
            <div id="page-title-description" class="span6 offset2">
                {% block page_description %}{% endblock %}
            </div>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <hr/>

        <div class="footer">
            <p>© 连伊 2013</p>
        </div>

    </div>
</body>

</html>