{% extends "dashboard/base.html" %}

{% load url from future %}
{% load tags %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
    绑定信号
{% endblock %}

{% block navbar_js %}
    $("li#link-bind").addClass("active");
{% endblock %}

{% block page_title %}
    <h3>绑定信号</h3>
{% endblock %}

{% block page_description %}
    <h4 class="pull-right">你在 {% total_accounts %} 个信号里激活了 {% count_accounts request.user %} 个</h4>
{% endblock %}

{% block content %}

{% for bind in binds %}
    {% if forloop.first %}<div class="row-fluid">{% else %}{% if forloop.counter0|divisibleby:3 %}</div><div class="row-fluid">{% endif %}{% endif %}
    {% bind_grid bind %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}

{% endblock %}