{% extends "dashboard/base.html" %}

{% load tags %}

{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{% block title %}
    绑定网易邮箱
{% endblock %}

{% block navbar_js %}
    $("li#link-bind").addClass("active");
{% endblock %}

{% block page_title %}
    <h4>绑定网易邮箱</h4>
{% endblock %}

{% block content %}

<div class="alert alert-info">
    填写用户名，系统会发送邮件给你。
</div>

<div class="alert alert-danger">
    填写密码，系统可以使用你的邮件地址发送邮件。注意，请不要过分依赖系统的安全性。
</div>

<form class="form" method="post" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="control-group">
            {{ field.errors }}
            {{ field.label_tag }} 
            <div class="controls">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <input class="btn btn-large btn-success" type="submit" value="绑定" />
</form>

{% endblock %}