{% extends "dashboard/base.html" %}

{% load user_tags %}
{% load oauth_tags %}
{% load staticfiles %}

{% block title %}
    Bind Fudan Mail
{% endblock %}

{% block navbar_js %}
    $("li#link-bind").addClass("active");
{% endblock %}

{% block page_title %}
    <h4>Bind Fudan Mail Accounts</h4>
{% endblock %}

{% block content %}

<form class="form" method="post" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="control-group">
            {{ field.errors }}
            {{ field.label_tag }} 
            <div class="controls">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <input class="btn btn-large btn-success" type="submit" value="bind" />
</form>

{% endblock %}