{% extends "dashboard/base.html" %}

{% load url from future %}
{% load user_tags %}
{% load oauth_tags %}
{% load staticfiles %}

{% block title %}
    Bind
{% endblock %}

{% block navbar_js %}
    $("li#link-bind").addClass("active");
{% endblock %}

{% block page_title %}
Bind Accounts
{% endblock %}

{% block page_description %}
You have {% count_accounts request.user %} of total {% total_accounts %} accounts activated.
{% endblock %}

{% block content %}
<div class="row">
    <div class="span1">
        <a href="{% renren_auth_uri %}">
            <img src="
            {% if request.user.renrenaccount %}
                {% static "img/renren.png" %}
            {% else %}
                {% static "img/renren_unbinded.png" %}
            {% endif %}"
            />
        </a>
    </div>

    <div class="span1">
        <a href="{% weibo_auth_uri %}">
            <img src="
            {% if request.user.weiboaccount %}
                {% static "img/weibo.png" %}
            {% else %}
                {% static "img/weibo_unbinded.png" %}
            {% endif %}"
            />
        </a>
    </div>
    <div class="span1">
        <a href="{% url 'bind_fudan' %}">
            <img src="
            {% if request.user.fudanaccount %}
                {% static "img/fudan.png" %}
            {% else %}
                {% static "img/fudan_unbinded.png" %}
            {% endif %}"
            />
        </a>
    </div>
    <div class="span1">
        <a href="{% url 'bind_fetion' %}">
            <img src="
            {% if request.user.fetionaccount %}
                {% static "img/fetion.png" %}
            {% else %}
                {% static "img/fetion_unbinded.png" %}
            {% endif %}
            "/>
        </a>
    </div>

</div>

{% endblock %}