{% extends "dashboard/base.html" %}

{% block title %}Dashboard{% endblock %}

{% load oauth_tags %}
{% load staticfiles %}

{% block content %}
{% if flash %}
    {% for key, value in flash.items %}
        <div class="flash_{{ key }}">
            <p>{{ value }}</p>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="span1">
        <a href="{% renren_auth_uri %}">
            <img src="{% static "img/renren.png" %}"/>
        </a>
    </div>
    <div class="span1">
        <a href="{% weibo_auth_uri %}">
            <img src="{% static "img/weibo.png" %}"/>
        </a>
    </div>
    <div class="span1">
        <a href="">
            <img src="{% static "img/fudan.jpg" %}"/>
        </a>
    </div>
    <div class="span1">
        <a href="">
            <img src="{% static "img/fetion.jpg" %}"/>
        </a>
    </div>
</div>

{% endblock %}