{% load staticfiles %}
<div class="span4 task-grid">
    <a href="{{task.get_absolute_url}}" class="recipe recipe-shared recipe-small">
        <span class="trigger">
            <img class="trigger-icon" src="{% static task.trigger.static %}" >
        </span>
        <i class="icon-chevron-right"></i>
        <span class="action">
            <img class="action-icon" src="{% static task.action.static %}">
        </span>
    </a>
    <div class="task-in-details">
        <a href="{{task.get_absolute_url}}" class="task-title">{{task.description}}</a>
        <div class="task-creation">
            by <a href="{{task.user.get_absolute_url}}" class="recipe-desc_author">{{task.user.username}}</a> on {{task.created_at}}
        </div>
        <div class="task-usage">
            used {{task.count}} times
        </div>
    </div>
</div>