body{
    padding-top: 20px;
    padding-bottom: 40px;
    background: url('/static/img/background.jpg') repeat-x #f7f5e9;
}

a, a:hover {
    text-decoration: none;
}

.container{
    margin: 0 auto;
    max-width: 740px;
}

.form-button {
    margin-left: 180px;
}