{% extends "registration/base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

{% if flash %}
    {% for key, value in flash.items %}
        <div class="flash_{{ key }}">
            <p>{{ value }}</p>
        </div>
    {% endfor %}
{% endif %}

<form method="post" action="/accounts/login/">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="field_wrapper">
            {{ field.errors }}
            {{ field.label_tag }} 
            {{ field }}
        </div>
    {% endfor %}
    <input class="btn btn-large btn-primary" type="submit" value="login" />
</form>

{% endblock %}