<!DOCTYPE html>
<html lang="en">
{% load url from future %}
<head>
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/registration.css" type="text/css"/>
    <title>{% block title %}连伊{% endblock %}</title>
</head>

<body>
    <div class="container">
        <div id="navigator">

            <ul class="nav nav-pills pull-right">
                <li id="link-home"><a href="{% url 'home' %}">首页</a></li>
                <li id="link-register"><a href="{% url 'register' %}">注册</a></li>
                <li id="link-login"><a href="{% url 'django.contrib.auth.views.login' %}">登录</a></li>
            </ul>
            <h2 class="text-info">连伊</h3>

            <script>
            {% block navbar_js %}
            {% endblock %}
            </script>
        </div>

        <hr/>

        {% if flast %}
            {% for key, value in flash.items %}
                <div class="alert {{ key }}">
                    <p>{{ value }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <hr/>

        <div class="footer">
            <p>© 连伊 2013</p>
        </div>
    </div>
</body>

</html>