{% extends "registration/base.html" %}

{% block title %}
    Register
{% endblock %}

{% block navbar_js %}
    $("li#link-register").addClass("active");
{% endblock %}

{% block content %}

<form class="form" method="post" action="/accounts/register/">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="control-group">
            {{ field.errors }}
            {{ field.label_tag }} 
            <div class="controls">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <input class="btn btn-large btn-success" type="submit" value="register" />
</form>

{% endblock %}