body{
    padding-top: 20px;
    padding-bottom: 40px;
}

a, a:hover {
    text-decoration: none;
}

#form-panel input[type="text"], #form-panel textarea {
    width: 500px;
}

.container{
    margin: 0 auto;
    max-width: 740px;
}

.right-triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #666;
}

.task-line .right-triangle {
    float: left;
    margin: 20px 5px;
}

.trigger-action-line .right-triangle {
    float: left;
    margin: 23px 0px 23px 20px;
}

.trigger-grid div, .action-grid div {
    word-wrap: break-word;
}

.trigger-grid, .action-grid, .task-grid, .task-line, .bind-grid {
    background: #f3f3f3;
    border-color: #f3f3f3;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    padding: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.action-grid.chosen, .trigger-grid.chosen {
    border-color: #7f7f7f;
    border-style: solid;
    border-width: 1px;
}

.task-line {
    padding:15px;
}

.trigger-grid, .action-grid {
    cursor: pointer;
}

.task-desc {
    margin-left: 10px;
}

.action-title, .trigger-title, .bind-title {
    margin: 15px 5px;
    max-width: 130px;
    display: table;
    height: 48px;
}

.action-title h4, .trigger-title h4, .bind-title h4 {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}

.task-title {
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
}

.task-icons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.action-title-large, .trigger-title-large {
    margin: 20px 5px;
    max-width: 270px;
}

#page-title-description {
    margin-top: 12px;
}
