{% extends "dashboard/base.html" %}

{% load tags %}

{% load staticfiles %}

{% block title %}
    Bind Fudan Mail
{% endblock %}

{% block navbar_js %}
    $("li#link-bind").addClass("active");
{% endblock %}

{% block page_title %}
    <h4>Bind Fudan Mail Accounts</h4>
{% endblock %}

{% block content %}

<div class="text-info">
    Filling your username enables system to send mails to you.
    Filling your password enables system to use your account to send mails to others.
</div>

<form class="form" method="post" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="control-group">
            {{ field.errors }}
            {{ field.label_tag }} 
            <div class="controls">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <input class="btn btn-large btn-success" type="submit" value="bind" />
</form>

{% endblock %}