{% extends "dashboard/base.html" %}

{% load url from future %}
{% load tags %}
{% load staticfiles %}

{% block title %}
    Bind
{% endblock %}

{% block navbar_js %}
    $("li#link-bind").addClass("active");
{% endblock %}

{% block page_title %}
    <h4>Bind Accounts</h4>
{% endblock %}

{% block page_description %}
<h4>You have {% count_accounts request.user %} of total {% total_accounts %} accounts activated.</h4>
{% endblock %}

{% block content %}

{% for bind in binds %}
    {% if forloop.first %}<div class="row-fluid">{% elif forloop.counter0|divisibleby:3 %}</div><div class="row-fluid">{% endif %}
    {% bind_grid bind %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}

{% endblock %}