{% extends "dashboard/base.html" %}

{% load tags %}
{% load staticfiles %}

{% block title %}
    编辑涟漪
{% endblock %}

{% block navbar_js %}
{% endblock %}

{% block page_title %}
    <h3>编辑涟漪</h3>
{% endblock %}

{% block content %}

    {% trigger_action_line task %}
    <form id="task_edit_form" class="form-horizontal" method="post" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form.visible_fields %}
            <div class="control-group">
                {{ field.errors }}
                {{ field|label_with_classes:"control-label"}} 
                <div class="controls">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        {% for field in form.hidden_fields %}
            <div style="display:none;">{{ field }}</div>
        {% endfor %}
        <input class="btn btn-large btn-primary" type="submit" value="edit" />
    </form>

{% endblock %}