{% extends "dashboard/base.html" %}

{% load tags %}
{% load staticfiles %}

{% block title %}
    User Task
{% endblock %}

{% block navbar_js %}
{% endblock %}

{% block page_title %}
<h4>{{request.user}}'s tasks</h4>
{% endblock %}

{% block content %}
    
    {% for task in tasks %}
        {% if forloop.first %}<div class="row-fluid">{% elif forloop.counter0|divisibleby:3 %}</div><div class="row-fluid">{% endif %}
        {% task_grid task %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}

{% endblock %}